* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	/*height: 100vw;*/
	/*overflow-y: hidden;*/
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* ------------------------- *//* HEADER *//* ------------------------- */
/* https://www.youtube.com/watch?v=amN8uZPwYj4*/
.header {
	width: 99%;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url(./img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*.header:before {
	content:'' ;
	width: 100%;
	min-height:100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(255,255,255,0), rgba(58, 64, 70, 0.158));
}*/

.bg-dark{
	position: fixed;
	z-index: 200;
	width: 100%;
	background-color: darkslategrey!important;
}

.logo {
	width: 100px;
	height: 100px ;
}

.navg a{
	color:black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bolder!important;
	font-size: 22px!important;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase; 
	color: #fff;	
}

.navg a:hover{
    background-color: rgb(196, 190, 190);
    transition: all 1.5s ease-out;
	border-radius: 5px;
	color: #fff;	
}

/* ------------------------- *//* Titulos *//* ------------------------- */
.text-header {
	min-height: 100vh;
	color: #fff;	
}

/* --- Desarrollo Web --- */
.text-header h2 {
	font-family: 'Montserrat';
	background-color: rgba(0, 0, 0, 0.602);
	text-align: center;
	border-radius: 10px;
	padding: 6px;
	font-size: 3.5em;
	font-style: bold;
}

/* --- Herramientas --- */
.text-header span {
	letter-spacing: 5px;
	font-size: 1.3em;
	/* font-family: 'Anton'; */
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: italic;
	margin: 0 5px 0 5px,
}

/* --- Boton Acerca de mi --- */
.btn-acercademi {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 7px 12px;
	color: #fff;
	background-color:rgba(35, 27, 27, 0.761);
	font-size: 1.5em;
	/* font-weight: bold; */
}

.btn-acercademi:hover {
	color: #fff;
	background-color: red;
	font-style: italic;
}

.cuadrado{
	background-color:rgba(4, 4, 4, 0.454);
	border-style: dashed;
	border-radius: 5px;
}

/* ------------------------- *//* Footer *//* ------------------------- */


/*=======================================================================================================
=                                        Medias queries                                                 =
========================================================================================================*/
/* col-xs */
@media (min-width: 1px) and (max-width: 320px) {
body {
	width: 100vw;
	height: 90vh;
}

.bg-dark{
	background-color: darkslategrey;;
}

.logo {
	width: 80px;
	height: 80px;
}

.navg a{
	font-size: 18px;
}

/* --- Desarrollo Web --- */
.text-header h2 {
	font-size: 2em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* --- Herramientas --- */
.text-header h6 {
	font-size: 0.8em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* --- Herramientas --- */
.btn-acercademi {
	font-size: 1.3em;
}

/* --- Boton Acerca de mi --- */
.text-header span {
	font-size: 1em;
}

}

/* col-md */
@media screen and (min-width: 320px) and (max-width: 768px){
body {
	width: 100vw;
	height: 90vh;
}

.text-header h2 {
	font-size: 2.5em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-header h6 {
	font-size: 1em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 80px;
	height: 80px;
}

.navg a{
	font-size: 18px;
}

.text-header span {
	font-size: 1em;
}

.btn-acercademi {
	font-size: 1.3em;
}

.bg-dark{
	background-color:transparent!important;
}

}

/* col-lg */
@media (min-width: 768px) and (max-width: 1400px){
body {
	width: 100vw;
	height: 100vh;
}

.text-header h2 {
	font-size: 3.5em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-header h6 {
	font-size: 1.2em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 90px;
	height: 90px;
}

.navg a{
	font-size: 18px;
}

.text-header span {
	font-size: 1em;
}

.btn-acercademi {
	font-size: 1.3em;
}

.bg-dark{
	background-color:transparent!important;
}
}

/* col-xxl */
@media (min-width: 1400px){
body {
	width: 100vw;
	height: 100vh;
}

.bg-dark{
	background-color:transparent!important;
}

.logo {
	width: 100px;
	height: 100px;
}

.navg a{
	font-size: 30px;
	font-weight: bold!important;
}
	
/* --- Desarrollo Web --- */
.text-header h2 {
	font-size: 3.5em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
	
/* --- Herramientas --- */
.text-header h6 {
	font-size: 1.2em;
	width:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-header span {
	font-size: 1em;
}

/* --- Boton Acerca de mi --- */
.btn-acercademi {
	font-size: 1.3em;
}
	
}