* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	/*height: 100vw;*/
	/*overflow-y: hidden;*/
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* ------------------------- *//* HEADER *//* ------------------------- */
/* https://www.youtube.com/watch?v=amN8uZPwYj4*/
.header {
	width: 100%;
	min-height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background-image: url(./img/desarrollo-img.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/*.header:before {
	content:'' ;
	width: 100%;
	min-height:100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(255,255,255,0), rgba(58, 64, 70, 0.158));
}*/

.bg-dark{
	position: fixed;
	z-index: 200;
	width: 100%;
	/*background-color: darkslategrey;*/
}

.logo {
	width: 100px;
	height: 100px ;
}

.navg a{
	color: #fcfafa!important;
	font-family: 'Montserrat';
	font-weight:  bold;
	font-size: 25px;
	padding: 10px 15px;
	text-align: center;
	text-transform: uppercase; 
}

.navg a:hover{
    background-color: rgba(170, 162, 162, 0.508);
    /*font-size: 30px;*/
    transition: all 1s ease-out;
	font-style: italic;
	border-radius: 5px;
}

.text-header {
	min-height: 90vh;
	color: #fff;	
}

.text-header h2 {
	font-family: 'Montserrat';
	background-color: rgb(64, 80, 121);
	text-align: center;
	border-radius: 10px;
	padding: 6px;
}

.text-header span {
	letter-spacing: 5px;
	font-size: 1.3em;
	font-family: 'Anton';
	font-style: italic;
	margin: 0 0 0 5px,
}

.btn-acercademi {
	font-family: 'Montserrat';
	padding: 7px 12px;
	color: #fff;
	background-color:rgba(128, 128, 128, 0.761);
	font-size: 1.5em;
	font-weight: bold;
}

.btn-acercademi:hover {
	color: #fff;
	background-color: red;
	font-style: italic;
}

/* ------------------------- *//* Footer *//* ------------------------- */


/*=======================================================================================================
=                                        Medias queries                                                 =
========================================================================================================*/
/* col-xs */
@media (max-width: 420px) {
	body {
		width: 100vw;
		height: 90vh;
	}
	
	.text-header h2 {
		font-size: 2em;
	}

	.logo {
		width: 80px;
		height: 80px;
	}

	.navg a{
		font-size: 18px;
	}
	
	.navg a:hover{
		background-color: rgba(170, 162, 162, 0.508);
		font-style: bold;
		border-radius: 2px;
	}

	.text-header span {
		font-size: 1em;
	}

	.btn-acercademi {
		font-size: 1.3em;
	}
}

@media (min-width: 420px) {

  }

  @media (min-width: 760px) {

  }

  @media (min-width: 992px) {
	.bg-dark{
	background-color:transparent!important;
	}	
}

